Source: ros-kinetic-smacc-action-client-generic
Section: misc
Priority: optional
Maintainer: Pablo Iñigo Blasco <pablo@ibrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-catkin, ros-kinetic-message-generation, ros-kinetic-roscpp, ros-kinetic-smacc, ros-kinetic-smacc-msgs, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-smacc-action-client-generic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-message-runtime, ros-kinetic-roscpp, ros-kinetic-smacc, ros-kinetic-smacc-msgs, ros-kinetic-std-msgs
Description: The smacc_action_client_generic package
